/* Estilização da Janela */

/* Estilização do título */
.title-label {
    -fx-font-weight: bold;
    -fx-text-fill: #444; /* Cor suave */
    -fx-padding: 10px;
}

/* Campo de texto */
.text-field {
    -fx-background-radius: 10px; /* Bordas arredondadas */
    -fx-border-radius: 10px;
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-background-color: white;
}

#tituloPrincipal{
    -fx-font-size: 24px; /* Tamanho grande para destaque */
}

#subtitulo{
    -fx-font-size: 18px; /* Tamanho grande para destaque */
}

/* Estilizando o HBox */
.hbox-container {
    -fx-background-color: #f0f8ff !important; /* Cor de fundo suave */
    -fx-padding: 15px; /* Espaçamento interno para não ficar colado nas bordas */
    -fx-border-radius: 10px; /* Bordas arredondadas para um visual mais moderno */
    -fx-background-radius: 10px; /* Suaviza o fundo arredondando */
}

/* Estilizando o VBox */
.vbox-container {
    -fx-background-color: #f4f4f4; /* Fundo mais claro para destaque */
    -fx-pref-width: 350px; /* Largura preferida */
    -fx-pref-height: 320px; /* Altura preferida */
    -fx-min-width: 350px; /* Largura mínima */
    -fx-min-height: 320px; /* Altura mínima */
    -fx-max-height: 320px; /* Altura máxima */
    -fx-padding: 15px; /* Espaçamento interno */
    -fx-border-radius: 10px; /* Bordas arredondadas */
    -fx-border-color: black;
    -fx-background-radius: 10px;
}



